soapService/sysguard.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="sysguard"
	targetNamespace="http://www.livedoor.cn/sysguard/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.livedoor.cn/sysguard/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xsd:schema
			targetNamespace="http://www.livedoor.cn/sysguard/">		<xsd:element name="LoginRequest">				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="username"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="password"
							type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="LoginResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="userInfo" type="tns:UserInfo"
							maxOccurs="1" minOccurs="0">
						</xsd:element>
						<xsd:element name="returnCode" type="xsd:int">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetAllSystemInfoRequest">
				<xsd:complexType>
					<xsd:sequence></xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetAllSystemInfoResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="allSysInfo"
							type="tns:SystemInfo" maxOccurs="unbounded" minOccurs="0">
						</xsd:element>
						<xsd:element name="returnCode" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="SystemInfo">
				<xsd:sequence>
					<xsd:element name="hostIp" type="xsd:string"></xsd:element>
					<xsd:element name="cpu" type="xsd:string"></xsd:element>
					<xsd:element name="load" type="xsd:string"></xsd:element>
					<xsd:element name="memory" type="xsd:string"></xsd:element>
					<xsd:element name="responseTime"
						type="xsd:string">
					</xsd:element>
					<xsd:element name="disk" type="xsd:string"></xsd:element>
					<xsd:element name="hostId" type="xsd:int"></xsd:element>
					<xsd:element name="cpuStatus" type="xsd:int"></xsd:element>
					<xsd:element name="loadStatus" type="xsd:int"></xsd:element>
					<xsd:element name="memoryStatus"
						type="xsd:int">
					</xsd:element>
					<xsd:element name="responseTimeStatus"
						type="xsd:int">
					</xsd:element>
					<xsd:element name="diskStatus" type="xsd:int"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="GetLoadPicByHostIpRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="hostIp" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetLoadPicByHostIpResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="dayLoadAveragePic"
							type="xsd:hexBinary" maxOccurs="1" minOccurs="1">
						</xsd:element>
						<xsd:element name="monthLoadAveragePic"
							type="xsd:hexBinary" maxOccurs="1" minOccurs="1">
						</xsd:element>
						<xsd:element name="yearLoadAveragePic"
							type="xsd:hexBinary" maxOccurs="1" minOccurs="1">
						</xsd:element>
						<xsd:element name="returnCode" type="xsd:int">
						</xsd:element>
						<xsd:element name="hostIp" type="xsd:string">
						</xsd:element>
						<xsd:element name="fileType"
							type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetAllLogInfoRequest">
				<xsd:complexType>
					<xsd:sequence></xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetAllLogInfoResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="allLogInfo"
							type="tns:LogInfo" maxOccurs="unbounded" minOccurs="0">
						</xsd:element>
						<xsd:element name="returnCode" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="LogInfo">
				<xsd:sequence>
					<xsd:element name="applogId" type="xsd:long"></xsd:element>
					<xsd:element name="className" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="hostId" type="xsd:int"></xsd:element>
					<xsd:element name="inputTime" type="xsd:date"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="level" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="logContent" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="logLine" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="logStatus" type="xsd:int"></xsd:element>
					<xsd:element name="logTime" type="xsd:date"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="solveDesc" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="solveResult" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="solveTime" type="xsd:date"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="userId" type="xsd:int"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="threadName" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="uptime" type="xsd:int"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="hostIp" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="ModifyLogInfoRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="logInfo"
							type="tns:LogInfo">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ModifyLogInfoResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="returnCode" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetAllUserInfoRequest">
				<xsd:complexType>
					<xsd:sequence></xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetAllUserInfoResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="allUserInfo"
							type="tns:UserInfo" maxOccurs="unbounded" minOccurs="0">
						</xsd:element>
						<xsd:element name="returnCode" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="UserInfo">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string"></xsd:element>
					<xsd:element name="description" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="roleId" type="xsd:int"></xsd:element>
					<xsd:element name="inputTime" type="xsd:date"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="realName" type="xsd:string"></xsd:element>
					<xsd:element name="msn" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="skype" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="lastLoginTime" type="xsd:date"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="online" type="xsd:byte"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="validate" type="xsd:byte"></xsd:element>
					<xsd:element name="updateTime" type="xsd:date"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="mail" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="passwd" type="xsd:string"></xsd:element>
					<xsd:element name="userId" type="xsd:int"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="ModifyUserInfoRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="editUser"
							type="tns:UserInfo">
						</xsd:element>
						<xsd:element name="oldPassword"
							type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ModifyUserInfoResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="returnCode" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AddUserRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="user" type="tns:UserInfo"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AddUserResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="returnCode" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DeleteUserByUserIdRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="userId" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DeleteUserByUserIdResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="returnCode" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetAllHostInfoRequest">
				<xsd:complexType>
					<xsd:sequence></xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetAllHostInfoResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="allHostInfo"
							type="tns:HostInfo" maxOccurs="unbounded" minOccurs="0">
						</xsd:element>
						<xsd:element name="returnCode" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="HostInfo">
				<xsd:sequence>
					<xsd:element name="description" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="diskpartition"
						type="xsd:string">
					</xsd:element>
					<xsd:element name="groupId" type="xsd:int"></xsd:element>
					<xsd:element name="hostName" type="xsd:string"></xsd:element>
					<xsd:element name="inputTime" type="xsd:date"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="updateTime" type="xsd:date"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="uptime" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
					<xsd:element name="validate" type="xsd:byte"></xsd:element>
					<xsd:element name="hostIp" type="xsd:string"></xsd:element>
					<xsd:element name="hostId" type="xsd:int"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="ModifyHostInfoRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="hostInfo"
							type="tns:HostInfo">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ModifyHostInfoResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="returnCode" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AddHostRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="hostInfo"
							type="tns:HostInfo">
						</xsd:element>
						<xsd:element name="loginName"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="loginPwd"
							type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AddHostResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="returnCode" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DeleteHostByHostIdRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="hostId" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DeleteHostByHostIdResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="returnCode" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetAllGroupInfoRequest">
				<xsd:complexType>
					<xsd:sequence></xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetAllGroupInfoResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="allGroupInfo"
							type="tns:GroupInfo" maxOccurs="unbounded" minOccurs="0">
						</xsd:element>
						<xsd:element name="returnCode" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="GroupInfo">
				<xsd:sequence>
					<xsd:element name="groupId" type="xsd:int"></xsd:element>
					<xsd:element name="groupName" type="xsd:string"></xsd:element>
					<xsd:element name="osId" type="xsd:int"></xsd:element>
					<xsd:element name="description" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="inputTime" type="xsd:date"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="ModifyGroupInfRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="groupInfo"
							type="tns:GroupInfo">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ModifyGroupInfResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="returnCode" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AddGroupRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="groupInf"
							type="tns:GroupInfo">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AddGroupResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="returnCode" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DeleteGroupByGroupIdRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="groupId" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DeleteGroupByGroupIdResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="returnCode" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="OperationInfo">
				<xsd:sequence>
					<xsd:element name="userId" type="xsd:int"></xsd:element>
					<xsd:element name="operId" type="xsd:int"></xsd:element>
					<xsd:element name="inputTime" type="xsd:date" maxOccurs="1" minOccurs="0"></xsd:element>
					<xsd:element name="errorDesp" type="xsd:string"></xsd:element>
					<xsd:element name="operContent" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="ModifyOperationInfoRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="operationInfo"
							type="tns:OperationInfo">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ModifyOperationInfoResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="returnCode" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AddOperationInfoRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="operationInfo"
							type="tns:OperationInfo">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AddOperationInfoResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="returnCode" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element
				name="DeleteOperationInfoByOperationIdRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="operationId"
							type="xsd:int">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element
				name="DeleteOperationInfoByOperationIdResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="returnCode" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="BatchUploadFileRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="hostIds" type="xsd:int"
							maxOccurs="unbounded" minOccurs="0">
						</xsd:element>
						<xsd:element name="path" type="xsd:string"></xsd:element>
						<xsd:element name="fileName"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="file" type="xsd:hexBinary"
							maxOccurs="1" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="BatchUploadFileResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="uploadResults"
							type="xsd:string" maxOccurs="unbounded" minOccurs="0">
						</xsd:element>
						<xsd:element name="returnCode" type="xsd:int">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="BatchExecuteCommandRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="command" type="xsd:string"></xsd:element>
						<xsd:element name="hostIds" type="xsd:int"
							maxOccurs="unbounded" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="BatchExecuteCommandResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="executeResults"
							type="xsd:string" maxOccurs="unbounded" minOccurs="0">
						</xsd:element>
						<xsd:element name="returnCode" type="xsd:int">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="LogoutRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="userName"
							type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="LogoutResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="returnCode" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="RoleInfo">
				<xsd:sequence>
					<xsd:element name="roleId" type="xsd:int"></xsd:element>
					<xsd:element name="name" type="xsd:string"></xsd:element>
					<xsd:element name="inputTime" type="xsd:date"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="description" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="GetAllDataInfoStandardRequest">
				<xsd:complexType>
					<xsd:sequence></xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetAllDataInfoStandardResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="returnCode" type="xsd:int"></xsd:element>
						<xsd:element name="allStandard"
							type="tns:DataInfoStandard" maxOccurs="unbounded"
							minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="DataInfoStandard">
				<xsd:sequence>
					<xsd:element name="errorValue" type="xsd:int"></xsd:element>
					<xsd:element name="warnValue" type="xsd:int"></xsd:element>
					<xsd:element name="typeName" type="xsd:string"></xsd:element>
					<xsd:element name="typeId" type="xsd:int"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="GetAllOsTypeInfoRequest">
				<xsd:complexType>
					<xsd:sequence></xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetAllOsTypeInfoResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="allOsType"
							type="tns:OsTypeInfo" maxOccurs="unbounded" minOccurs="0">
						</xsd:element>
						<xsd:element name="returnCode" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="OsTypeInfo">
				<xsd:sequence>
					<xsd:element name="osId" type="xsd:int"></xsd:element>
					<xsd:element name="osName" type="xsd:string"></xsd:element>
					<xsd:element name="inputTime" type="xsd:date"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="description" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="ModifyOsTypeInfoRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="osType"
							type="tns:OsTypeInfo">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ModifyOsTypeInfoResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="returnCode" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AddOsTypeInfoRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="osType"
							type="tns:OsTypeInfo">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AddOsTypeInfoResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="returnCode" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DeleteOsTypeInfoByOsTypeIdRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="osTypeId" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DeleteOsTypeInfoByOsTypeIdResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="returnCode" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetAllOperationRequest">
				<xsd:complexType>
					<xsd:sequence></xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetAllOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="allOperations"
							type="tns:OperationInfo" maxOccurs="unbounded" minOccurs="0">
						</xsd:element>
						<xsd:element name="returnCode" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetAllRoleInfoRequest">
				<xsd:complexType>
					<xsd:sequence></xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetAllRoleInfoResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="returnCode" type="xsd:int"></xsd:element>
						<xsd:element name="allRole" type="tns:RoleInfo"
							maxOccurs="unbounded" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
            <xsd:element name="GetOperationByIdRequest"><xsd:complexType>
	<xsd:sequence>
                        <xsd:element name="operId" type="xsd:int"></xsd:element>
                    </xsd:sequence></xsd:complexType></xsd:element>
            <xsd:element name="GetOperationByIdResponse"><xsd:complexType>
	<xsd:sequence>
		<xsd:element name="returnCode" type="xsd:int"></xsd:element>
		<xsd:element name="operationInfo" type="tns:OperationInfo"></xsd:element>
	</xsd:sequence></xsd:complexType></xsd:element>
        </xsd:schema>
	</wsdl:types>
	<wsdl:message name="LoginResponse">
		<wsdl:part element="tns:LoginResponse" name="LoginResponse" />
	</wsdl:message>
	<wsdl:message name="LoginRequest">
		<wsdl:part element="tns:LoginRequest" name="LoginRequest" />
	</wsdl:message>
	<wsdl:message name="GetAllSystemInfoRequest">
		<wsdl:part name="GetAllSystemInfoRequest"
			element="tns:GetAllSystemInfoRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetAllSystemInfoResponse">
		<wsdl:part name="GetAllSystemInfoResponse"
			element="tns:GetAllSystemInfoResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetLoadPicByHostIpRequest">
		<wsdl:part name="GetLoadPicByHostIpRequest"
			element="tns:GetLoadPicByHostIpRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetLoadPicByHostIpResponse">
		<wsdl:part name="GetLoadPicByHostIpResponse"
			element="tns:GetLoadPicByHostIpResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetAllLogInfoRequest">
		<wsdl:part name="GetAllLogInfoRequest"
			element="tns:GetAllLogInfoRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetAllLogInfoResponse">
		<wsdl:part name="GetAllLogInfoResponse"
			element="tns:GetAllLogInfoResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ModifyLogInfoRequest">
		<wsdl:part name="ModifyLogInfoRequest"
			element="tns:ModifyLogInfoRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ModifyLogInfoResponse">
		<wsdl:part name="ModifyLogInfoResponse"
			element="tns:ModifyLogInfoResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetAllUserInfoRequest">
		<wsdl:part name="GetAllUserInfoRequest"
			element="tns:GetAllUserInfoRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetAllUserInfoResponse">
		<wsdl:part name="GetAllUserInfoResponse"
			element="tns:GetAllUserInfoResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ModifyUserInfoRequest">
		<wsdl:part name="ModifyUserInfoRequest"
			element="tns:ModifyUserInfoRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ModifyUserInfoResponse">
		<wsdl:part name="ModifyUserInfoResponse"
			element="tns:ModifyUserInfoResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="AddUserRequest">
		<wsdl:part name="AddUserRequest" element="tns:AddUserRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="AddUserResponse">
		<wsdl:part name="AddUserResponse"
			element="tns:AddUserResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="DeleteUserByUserIdRequest">
		<wsdl:part name="DeleteUserByUserIdRequest"
			element="tns:DeleteUserByUserIdRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="DeleteUserByUserIdResponse">
		<wsdl:part name="DeleteUserByUserIdResponse"
			element="tns:DeleteUserByUserIdResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetAllHostInfoRequest">
		<wsdl:part name="GetAllHostInfoRequest"
			element="tns:GetAllHostInfoRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetAllHostInfoResponse">
		<wsdl:part name="GetAllHostInfoResponse"
			element="tns:GetAllHostInfoResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="DealLogInfoRequest">
		<wsdl:part name="DealLogInfoRequest"
			element="tns:DealLogInfoRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="DealLogInfoResponse">
		<wsdl:part name="DealLogInfoResponse"
			element="tns:DealLogInfoResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ModifyHostInfoRequest">
		<wsdl:part name="ModifyHostInfoRequest"
			element="tns:ModifyHostInfoRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ModifyHostInfoResponse">
		<wsdl:part name="ModifyHostInfoResponse"
			element="tns:ModifyHostInfoResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="AddHostRequest">
		<wsdl:part name="AddHostRequest" element="tns:AddHostRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="AddHostResponse">
		<wsdl:part name="AddHostResponse"
			element="tns:AddHostResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="DeleteHostByHostIdRequest">
		<wsdl:part name="DeleteHostByHostIdRequest"
			element="tns:DeleteHostByHostIdRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="DeleteHostByHostIdResponse">
		<wsdl:part name="DeleteHostByHostIdResponse"
			element="tns:DeleteHostByHostIdResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetAllGroupInfoRequest">
		<wsdl:part name="GetAllGroupInfoRequest"
			element="tns:GetAllGroupInfoRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetAllGroupInfoResponse">
		<wsdl:part name="GetAllGroupInfoResponse"
			element="tns:GetAllGroupInfoResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ModifyGroupInfRequest">
		<wsdl:part name="ModifyGroupInfRequest"
			element="tns:ModifyGroupInfRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ModifyGroupInfResponse">
		<wsdl:part name="ModifyGroupInfResponse"
			element="tns:ModifyGroupInfResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="AddGroupRequest">
		<wsdl:part name="AddGroupRequest"
			element="tns:AddGroupRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="AddGroupResponse">
		<wsdl:part name="AddGroupResponse"
			element="tns:AddGroupResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="DeleteGroupByGroupIdRequest">
		<wsdl:part name="DeleteGroupByGroupIdRequest"
			element="tns:DeleteGroupByGroupIdRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="DeleteGroupByGroupIdResponse">
		<wsdl:part name="DeleteGroupByGroupIdResponse"
			element="tns:DeleteGroupByGroupIdResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ModifyOperationInfoRequest">
		<wsdl:part name="ModifyOperationInfoRequest"
			element="tns:ModifyOperationInfoRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ModifyOperationInfoResponse">
		<wsdl:part name="ModifyOperationInfoResponse"
			element="tns:ModifyOperationInfoResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="AddOperationInfoRequest">
		<wsdl:part name="AddOperationInfoRequest"
			element="tns:AddOperationInfoRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="AddOperationInfoResponse">
		<wsdl:part name="AddOperationInfoResponse"
			element="tns:AddOperationInfoResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="DeleteOperationInfoByOperationIdRequest">
		<wsdl:part name="DeleteOperationInfoByOperationIdRequest"
			element="tns:DeleteOperationInfoByOperationIdRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="DeleteOperationInfoByOperationIdResponse">
		<wsdl:part name="DeleteOperationInfoByOperationIdResponse"
			element="tns:DeleteOperationInfoByOperationIdResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="BatchUploadFileRequest">
		<wsdl:part name="BatchUploadFileRequest"
			element="tns:BatchUploadFileRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="BatchUploadFileResponse">
		<wsdl:part name="BatchUploadFileResponse"
			element="tns:BatchUploadFileResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="BatchExecuteCommandRequest">
		<wsdl:part name="BatchExecuteCommandRequest"
			element="tns:BatchExecuteCommandRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="BatchExecuteCommandResponse">
		<wsdl:part name="BatchExecuteCommandResponse"
			element="tns:BatchExecuteCommandResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="LogoutRequest">
		<wsdl:part name="LogoutRequest" element="tns:LogoutRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="LogoutResponse">
		<wsdl:part name="LogoutResponse" element="tns:LogoutResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="DRequest">
		<wsdl:part name="DRequest" element="tns:DRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="DResponse">
		<wsdl:part name="DResponse" element="tns:DResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetAllDataInfoStandardRequest">
		<wsdl:part name="GetAllDataInfoStandardRequest"
			element="tns:GetAllDataInfoStandardRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetAllDataInfoStandardResponse">
		<wsdl:part name="GetAllDataInfoStandardResponse"
			element="tns:GetAllDataInfoStandardResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetRequest">
		<wsdl:part name="GetRequest" element="tns:GetRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetResponse">
		<wsdl:part name="GetResponse" element="tns:GetResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetAllOsTypeInfoRequest">
		<wsdl:part name="GetAllOsTypeInfoRequest"
			element="tns:GetAllOsTypeInfoRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetAllOsTypeInfoResponse">
		<wsdl:part name="GetAllOsTypeInfoResponse"
			element="tns:GetAllOsTypeInfoResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ModifyOsTypeInfoRequest">
		<wsdl:part name="ModifyOsTypeInfoRequest"
			element="tns:ModifyOsTypeInfoRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ModifyOsTypeInfoResponse">
		<wsdl:part name="ModifyOsTypeInfoResponse"
			element="tns:ModifyOsTypeInfoResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="AddOsTypeInfoRequest">
		<wsdl:part name="AddOsTypeInfoRequest"
			element="tns:AddOsTypeInfoRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="AddOsTypeInfoResponse">
		<wsdl:part name="AddOsTypeInfoResponse"
			element="tns:AddOsTypeInfoResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="DeleteOsTypeInfoByOsTypeIdRequest">
		<wsdl:part name="DeleteOsTypeInfoByOsTypeIdRequest"
			element="tns:DeleteOsTypeInfoByOsTypeIdRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="DeleteOsTypeInfoByOsTypeIdResponse">
		<wsdl:part name="DeleteOsTypeInfoByOsTypeIdResponse"
			element="tns:DeleteOsTypeInfoByOsTypeIdResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetAllOperationRequest">
		<wsdl:part name="GetAllOperationRequest"
			element="tns:GetAllOperationRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetAllOperationResponse">
		<wsdl:part name="GetAllOperationResponse"
			element="tns:GetAllOperationResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetAllRoleInfoRequest">
		<wsdl:part name="GetAllRoleInfoRequest"
			element="tns:GetAllRoleInfoRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetAllRoleInfoResponse">
		<wsdl:part name="GetAllRoleInfoResponse"
			element="tns:GetAllRoleInfoResponse">
		</wsdl:part>
	</wsdl:message>
    <wsdl:message name="GetOperationByIdRequest"><wsdl:part name="GetOperationByIdRequest" element="tns:GetOperationByIdRequest"></wsdl:part></wsdl:message>
    <wsdl:message name="GetOperationByIdResponse"><wsdl:part name="GetOperationByIdResponse" element="tns:GetOperationByIdResponse"></wsdl:part></wsdl:message>
    <wsdl:portType name="sysguard">		<wsdl:operation name="Login">			<wsdl:input message="tns:LoginRequest"></wsdl:input>
			<wsdl:output message="tns:LoginResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllSystemInfo">
			<wsdl:input message="tns:GetAllSystemInfoRequest"></wsdl:input>
			<wsdl:output message="tns:GetAllSystemInfoResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetLoadPicByHostIp">
			<wsdl:input message="tns:GetLoadPicByHostIpRequest"></wsdl:input>
			<wsdl:output message="tns:GetLoadPicByHostIpResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllLogInfo">
			<wsdl:input message="tns:GetAllLogInfoRequest"></wsdl:input>
			<wsdl:output message="tns:GetAllLogInfoResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ModifyLogInfo">
			<wsdl:input message="tns:ModifyLogInfoRequest"></wsdl:input>
			<wsdl:output message="tns:ModifyLogInfoResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllUserInfo">
			<wsdl:input message="tns:GetAllUserInfoRequest"></wsdl:input>
			<wsdl:output message="tns:GetAllUserInfoResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ModifyUserInfo">
			<wsdl:input message="tns:ModifyUserInfoRequest"></wsdl:input>
			<wsdl:output message="tns:ModifyUserInfoResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="AddUser">
			<wsdl:input message="tns:AddUserRequest"></wsdl:input>
			<wsdl:output message="tns:AddUserResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteUserByUserId">
			<wsdl:input message="tns:DeleteUserByUserIdRequest"></wsdl:input>
			<wsdl:output message="tns:DeleteUserByUserIdResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllHostInfo">
			<wsdl:input message="tns:GetAllHostInfoRequest"></wsdl:input>
			<wsdl:output message="tns:GetAllHostInfoResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ModifyHostInfo">
			<wsdl:input message="tns:ModifyHostInfoRequest"></wsdl:input>
			<wsdl:output message="tns:ModifyHostInfoResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="AddHost">
			<wsdl:input message="tns:AddHostRequest"></wsdl:input>
			<wsdl:output message="tns:AddHostResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteHostByHostId">
			<wsdl:input message="tns:DeleteHostByHostIdRequest"></wsdl:input>
			<wsdl:output message="tns:DeleteHostByHostIdResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllGroupInfo">
			<wsdl:input message="tns:GetAllGroupInfoRequest"></wsdl:input>
			<wsdl:output message="tns:GetAllGroupInfoResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ModifyGroupInf">
			<wsdl:input message="tns:ModifyGroupInfRequest"></wsdl:input>
			<wsdl:output message="tns:ModifyGroupInfResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="AddGroup">
			<wsdl:input message="tns:AddGroupRequest"></wsdl:input>
			<wsdl:output message="tns:AddGroupResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteGroupByGroupId">
			<wsdl:input message="tns:DeleteGroupByGroupIdRequest"></wsdl:input>
			<wsdl:output message="tns:DeleteGroupByGroupIdResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ModifyOperationInfo">
			<wsdl:input message="tns:ModifyOperationInfoRequest"></wsdl:input>
			<wsdl:output message="tns:ModifyOperationInfoResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="AddOperationInfo">
			<wsdl:input message="tns:AddOperationInfoRequest"></wsdl:input>
			<wsdl:output message="tns:AddOperationInfoResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteOperationInfoByOperationId">
			<wsdl:input
				message="tns:DeleteOperationInfoByOperationIdRequest">
			</wsdl:input>
			<wsdl:output
				message="tns:DeleteOperationInfoByOperationIdResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="BatchUploadFile">
			<wsdl:input message="tns:BatchUploadFileRequest"></wsdl:input>
			<wsdl:output message="tns:BatchUploadFileResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="BatchExecuteCommand">
			<wsdl:input message="tns:BatchExecuteCommandRequest"></wsdl:input>
			<wsdl:output message="tns:BatchExecuteCommandResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Logout">
			<wsdl:input message="tns:LogoutRequest"></wsdl:input>
			<wsdl:output message="tns:LogoutResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllDataInfoStandard">
			<wsdl:input message="tns:GetAllDataInfoStandardRequest"></wsdl:input>
			<wsdl:output message="tns:GetAllDataInfoStandardResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllOsTypeInfo">
			<wsdl:input message="tns:GetAllOsTypeInfoRequest"></wsdl:input>
			<wsdl:output message="tns:GetAllOsTypeInfoResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ModifyOsTypeInfo">
			<wsdl:input message="tns:ModifyOsTypeInfoRequest"></wsdl:input>
			<wsdl:output message="tns:ModifyOsTypeInfoResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="AddOsTypeInfo">
			<wsdl:input message="tns:AddOsTypeInfoRequest"></wsdl:input>
			<wsdl:output message="tns:AddOsTypeInfoResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteOsTypeInfoByOsTypeId">
			<wsdl:input
				message="tns:DeleteOsTypeInfoByOsTypeIdRequest">
			</wsdl:input>
			<wsdl:output
				message="tns:DeleteOsTypeInfoByOsTypeIdResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllOperation">
			<wsdl:input message="tns:GetAllOperationRequest"></wsdl:input>
			<wsdl:output message="tns:GetAllOperationResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllRoleInfo">
			<wsdl:input message="tns:GetAllRoleInfoRequest"></wsdl:input>
			<wsdl:output message="tns:GetAllRoleInfoResponse"></wsdl:output>
		</wsdl:operation>
        <wsdl:operation name="GetOperationById"><wsdl:input message="tns:GetOperationByIdRequest"></wsdl:input><wsdl:output message="tns:GetOperationByIdResponse"></wsdl:output></wsdl:operation>
    </wsdl:portType>
	<wsdl:binding name="sysguardSOAP" type="tns:sysguard">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Login">
            <soap:operation soapAction="http://www.livedoor.cn/sysguard/Login"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
			<wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllSystemInfo">
            <soap:operation soapAction="http://www.livedoor.cn/sysguard/GetAllSystemInfo"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
			<wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetLoadPicByHostIp">
            <soap:operation soapAction="http://www.livedoor.cn/sysguard/GetLoadPicByHostIp"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
			<wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllLogInfo">
            <soap:operation soapAction="http://www.livedoor.cn/sysguard/GetAllLogInfo"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
			<wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ModifyLogInfo">
            <soap:operation soapAction="http://www.livedoor.cn/sysguard/ModifyLogInfo"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
			<wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllUserInfo">
            <soap:operation soapAction="http://www.livedoor.cn/sysguard/GetAllUserInfo"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
			<wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ModifyUserInfo">
            <soap:operation soapAction="http://www.livedoor.cn/sysguard/ModifyUserInfo"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
			<wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="AddUser">
            <soap:operation soapAction="http://www.livedoor.cn/sysguard/AddUser"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
			<wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteUserByUserId">
            <soap:operation soapAction="http://www.livedoor.cn/sysguard/DeleteUserByUserId"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
			<wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllHostInfo">
            <soap:operation soapAction="http://www.livedoor.cn/sysguard/GetAllHostInfo"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
			<wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ModifyHostInfo">
            <soap:operation soapAction="http://www.livedoor.cn/sysguard/ModifyHostInfo"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
			<wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="AddHost">
            <soap:operation soapAction="http://www.livedoor.cn/sysguard/AddHost"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
			<wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteHostByHostId">
            <soap:operation soapAction="http://www.livedoor.cn/sysguard/DeleteHostByHostId"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
			<wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllGroupInfo">
            <soap:operation soapAction="http://www.livedoor.cn/sysguard/GetAllGroupInfo"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
			<wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ModifyGroupInf">
            <soap:operation soapAction="http://www.livedoor.cn/sysguard/ModifyGroupInf"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
			<wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="AddGroup">
            <soap:operation soapAction="http://www.livedoor.cn/sysguard/AddGroup"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
			<wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteGroupByGroupId">
            <soap:operation soapAction="http://www.livedoor.cn/sysguard/DeleteGroupByGroupId"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
			<wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ModifyOperationInfo">
            <soap:operation soapAction="http://www.livedoor.cn/sysguard/ModifyOperationInfo"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
			<wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="AddOperationInfo">
            <soap:operation soapAction="http://www.livedoor.cn/sysguard/AddOperationInfo"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
			<wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteOperationInfoByOperationId">
            <soap:operation soapAction="http://www.livedoor.cn/sysguard/DeleteOperationInfoByOperationId"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
			<wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="BatchUploadFile">
            <soap:operation soapAction="http://www.livedoor.cn/sysguard/BatchUploadFile"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
			<wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="BatchExecuteCommand">
            <soap:operation soapAction="http://www.livedoor.cn/sysguard/BatchExecuteCommand"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
			<wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Logout">
            <soap:operation soapAction="http://www.livedoor.cn/sysguard/Logout"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
			<wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllDataInfoStandard">
            <soap:operation soapAction="http://www.livedoor.cn/sysguard/GetAllDataInfoStandard"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
			<wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllOsTypeInfo">
            <soap:operation soapAction="http://www.livedoor.cn/sysguard/GetAllOsTypeInfo"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
			<wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ModifyOsTypeInfo">
            <soap:operation soapAction="http://www.livedoor.cn/sysguard/ModifyOsTypeInfo"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
			<wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="AddOsTypeInfo">
            <soap:operation soapAction="http://www.livedoor.cn/sysguard/AddOsTypeInfo"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
			<wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteOsTypeInfoByOsTypeId">
            <soap:operation soapAction="http://www.livedoor.cn/sysguard/DeleteOsTypeInfoByOsTypeId"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
			<wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllOperation">
            <soap:operation soapAction="http://www.livedoor.cn/sysguard/GetAllOperation"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
			<wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllRoleInfo">
            <soap:operation soapAction="http://www.livedoor.cn/sysguard/GetAllRoleInfo"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
			<wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
		</wsdl:operation>
        <wsdl:operation name="GetOperationById"><soap:operation soapAction="http://www.livedoor.cn/sysguard/GetOperationById"/><wsdl:input><soap:body use="literal"/></wsdl:input><wsdl:output><soap:body use="literal"/></wsdl:output></wsdl:operation>
    </wsdl:binding>
	<wsdl:service name="sysguard">
		<wsdl:port binding="tns:sysguardSOAP" name="sysguardSOAP">
			<soap:address
				location="http://localhost:8080/axis2/services/sysguard/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
